<section>

  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start">
      <h4>Inicio de sesión</h4>
    </div>
    <div class="d-flex justify-content-end">
      <a href="#" routerLink="/usuario/recordar" class="btn btn-warning text-white">Olvidé mi contraseña</a>&nbsp;&nbsp;
      <a href="#" routerLink="/usuario/create" class="btn btn-primary">Crear Usuario</a>
    </div>

  </div>

  <br>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="correo">Correo:</label>
        <input
          formControlName="correo"
          id="correo"
          type="text"
          class="form-control">
        <div *ngIf="f.correo.touched && f.correo.invalid" class="alert alert-danger">
          <div *ngIf="f.correo.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.correo.errors.correo">* Debe ser un correo válido.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="password">Contraseña:</label>
        <input
          formControlName="password"
          id="password"
          type="password"
          class="form-control">
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
          <div *ngIf="f.password.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.password.errors.password">* Se permite letras, números y caracteres *.-_.</div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Iniciar Sesión</button>
  </form>
</section>

