<section>

  <div class="d-flex justify-content-between">
    <h4>Mis datos</h4>
  </div>

  <br>

  <table class="table text-center">
    <tr>
      <th>Nombre</th>
      <th>Identificación</th>
      <th>Movil</th>
      <th>Correo</th>
      <th>Estado</th>
      <th width="220px">Acciones</th>
    </tr>
    <tr *ngFor="let info of empleados">
      <div *ngIf="info != null; then infoSI else infoNo"></div>
      <ng-template #infoSI>
        <td>{{ info.nombre }}</td>
        <td>{{ info.identificacion }}</td>
        <td>{{ info.movil }}</td>
        <td>{{ info.correo }}</td>
        <td>{{ info.estado }}</td>
        <td>
          <button type="button" (click)="mensaje()" class="btn btn-danger">Mensaje</button>
        </td>
      </ng-template>
      <ng-template #infoNo>
        <td colspan="6">Sin solicitar</td>
      </ng-template>
    </tr>
  </table>
</section>

