<div>

  <div class="d-flex justify-content-between">
    <h4>Cambiar Contraseña</h4>
    <a href="#" routerLink="/usuario/index" class="btn btn-primary">Inicio</a>
  </div>

  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="password">Nueva Contraseña:</label>
        <input
          formControlName="password"
          id="password"
          type="password"
          class="form-control">
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
          <div *ngIf="f.password.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.password.errors.password">* Se permite letras, números y caracteres *.-_.</div>
        </div>
      </div>
    </div>

    <button class="btn btn-warning text-white" type="submit" [disabled]="!form.valid">Nueva Contraseña</button>
  </form>
</div>
