<div>
  <div class="d-flex justify-content-between">
    <h4>Recordar contraseña</h4>
    <a href="#" routerLink="/usuario/index" class="btn btn-primary">Inicio</a>
  </div>

  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="correo">Correo:</label>
        <input
          formControlName="correo"
          id="correo"
          type="text"
          class="form-control">
        <div *ngIf="f.correo.touched && f.correo.invalid" class="alert alert-danger">
          <div *ngIf="f.correo.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.correo.errors.correo">* Debe ser un correo válido.</div>
        </div>
      </div>
    </div>


    <button class="btn btn-success" type="submit" [disabled]="!form.valid">Recuperar</button>
  </form>
</div>
