<div>

  <div class="d-flex justify-content-between">
    <h4>Formulario de registro</h4>
    <a href="#" routerLink="/usuario/index" class="btn btn-primary">Inicio</a>
  </div>

  <hr/>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="nombre">Nombre completo:</label>
        <input
          formControlName="nombre"
          id="nombre"
          type="text"
          class="form-control">
        <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
          <div *ngIf="f.nombre.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.nombre.errors.pattern">* El nombre solo puede contener letras.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="identificacion">N° Identificación:</label>
        <input
          formControlName="identificacion"
          id="identificacion"
          type="text"
          class="form-control">
        <div *ngIf="f.identificacion.touched && f.identificacion.invalid" class="alert alert-danger">
          <div *ngIf="f.identificacion.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.identificacion.errors.pattern">* La identificación solo puede contener letras y números.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="movil">N° móvil:</label>
        <input
          formControlName="movil"
          id="movil"
          type="text"
          class="form-control">
        <div *ngIf="f.movil.touched && f.movil.invalid" class="alert alert-danger">
          <div *ngIf="f.movil.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.movil.errors.pattern">* El móvil solo puede contener números.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="correo">Correo:</label>
        <input
          formControlName="correo"
          id="correo"
          type="text"
          class="form-control">
        <div *ngIf="f.correo.touched && f.correo.invalid" class="alert alert-danger">
          <div *ngIf="f.correo.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.correo.errors.correo">* Debe ser un correo válido.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="password">Contraseña:</label>
        <input
          formControlName="password"
          id="password"
          type="password"
          class="form-control">
        <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
          <div *ngIf="f.password.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.password.errors.password">* Se permite letras, números y caracteres *.-_.</div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6 ">
        <label for="tipo">Tipo:</label>
        <select
          formControlName="tipo"
          id="tipo"
          class="form-control">
          <option value="" disabled selected>Seleccione...</option>
          <!--<option value="usuario">Usuario</option>-->
          <option value="empleado">Empleado</option>
        </select>
        <div *ngIf="f.tipo.touched && f.tipo.invalid" class="alert alert-danger">
          <div *ngIf="f.tipo.errors.required">* Este campo es requerido.</div>
          <div *ngIf="f.tipo.errors.pattern">* Debe seleccionar el tipo de acceso.</div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Registrar</button>
  </form>
</div>
